.article-item {
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 1px 4px 0 rgba(55,69,77,.5);
  box-sizing: border-box;
  padding: 8px;
  transition: all .5s;
  max-height: 500px;
  width: 29%;
  margin: 0px 20px 0px 20px;
}

.article-thumbnail {
  background-position: 50%;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  height: 328px;
  transition: all .5s;
  margin-bottom: 20px;
  object-fit: cover;
}

.article-text {
  text-decoration: none;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  font-family: Arial,sans-serif;
  margin: 0px 20px 0px 20px;
}

#article-title {
  font-size: 1.2291em;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
  font-weight: 700;
  color: #484848;
  margin-bottom: 15px;

}

#article-excerpt {
  font-size: 14px;
  margin-bottom: 25px;
  line-height: 1.15;
  color: #697379;
}

.article-item {
  transition: box-shadow .3s;
  border-radius:10px;
  border: 1px solid #ccc;
}
.article-item:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.4); 
}

.hotels {
  font-size: 14px;
  font-weight: 700;
  color: #37454d;
  line-height: 1.5;
  margin-bottom: 12px;
}

.hotel-li {
  line-height: 2;
  color: #3f9fc1;
  font-size: 12px;
}