.featured-image {
  height: 65vh;
  width: 100%;
  object-fit: cover;
  filter: brightness(60%)
}

.featured-article-card {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 50px;
}

.featured-article-card .overview-text {
  text-decoration: none;
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 55%;        
  text-align: center;
  top: 40%;
  font-family: Arial,sans-serif;
  color: #fff;
  width: 45%;
  padding-left: 10%;
  text-align: left;
}

#featured-loc {
  font-size: 20px;
  justify-content: flex-start;
  padding-bottom: 40px;
  font-weight: 600;
}

#featured-title {
  font-size: 44px;
  word-wrap: normal;
  padding-bottom: 40px;
  font-weight: 600;
  line-height:1.25;
}

#hero-button {
  display: inline-block;
  color: #37454d;
  background-color: #fff;
  border: 1px solid #697379;
  padding: 9.5px 18px;
  border-radius: 2px;
  font-size: 14px;
  transition: all .3s linear;
  font-weight: 700;
}